.trelloContainer{
  display: flex;
}

.listWrapper{
  width: 300px;
  background-color: #E2E4E6;
  padding: 10px;
  margin: 50px;
  border-radius: 3px;
}

.listTittle{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.listTittle span{
  font-weight: 700;
  font-size: 16px;
  color: rgba(0,0,0,0.7)
}

.moreButton{
  display: block;
  width: 20px;
  height: 20px;
  background-color: rgba(0,0,0,0.23)
}

.card{
  margin: 8px auto;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  padding: 7px 7px 7px 7px;
  box-sizing: border-box;
  border-radius: 3px;
}

.addCard{
  margin-top: 10px;
}
.addCard input{
  background-color: rgba(0,0,0,0);
  border: 0;
  font-size: 16px;
  outline: none;
}
